
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    overflow: hidden;
  background-color: black;
}

.camera-interactive-item{
    position: relative;
    padding: 0.5rem;
    cursor: pointer;
    border: 0.2rem solid white;
    background-color: gray;
    font-weight: bolder;
    color: white;

}

@keyframes teste-animation1 {
    25%{
        opacity: 100%;
    }
    /* 50%{
                opacity: 0%;

    }
    75%{
                opacity: 100%;

    } */
    100%{
               opacity: 0%;
    }
}

@keyframes teste-animation{
    0%{
    transform:scale(0.5);
    }
    100%{
    transform:scale(1);
    }
}


.teste.teste2{
    animation: teste-animation1 1s ease-in-out;
    opacity: 0%;
}

.teste3{
    opacity: 100%;
}