.room-container{
    z-index: 10;
    display: flex;
    justify-content: space-between;
    /* background-image: url('../bedroom_1.jpeg'); */
    background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; 
    height: 100dvh;
    width: 110dvw;
    /* transform: translateX(-25%); */
    background-color: black;
}

@keyframes replace-room-fade-in {
    0%{
        opacity: 100%;
    }
    100%{
        opacity: 0%;
    }
}

@keyframes replace-room-fade-out {
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}

.room-darkness-container{
    position: fixed;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    z-index: 6;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.room-darkness-container img{
    width: 100%;
    height: 100%;
    opacity: 30%;
}

.dark-screen-container.replace-room-entrace{
    animation: replace-room-fade-in 0.5s ease-in-out;
}

.dark-screen-container.replace-room-exit{
    animation: replace-room-fade-out 0.6s ease-in-out;
}

.dark-screen-container{
    display: none;
    z-index: 6;
    position: fixed;
    background-color: black;
    top: 50%;
    right: 50%;
    height: 100%;
    width: 100%;
    transform: translate(50%,-50%);
}

.move-right-container{
    z-index: 5;
    position: fixed;
    right: 0%;
    height: 100%;
    top: 0%;
    width: 30dvw;
}

.move-left-container{
    z-index: 5;
    position: fixed;
    left: 0%;
    height: 100%;
    top: 0%;
    width: 30dvw;
}

#teste1{
    position: absolute;
    top: 50%;
    right: 5%;
    z-index: 20;
}

@keyframes room-entrace-vision {
    
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(2);
    }

}

.room-canvas-container.room-entrace-bottom-vision{
    animation:room-entrace-vision 0.5s ease-in-out ;
    transform-origin: bottom center; 
}

.room-canvas-container.room-entrace-center-vision{
     animation:room-entrace-vision 0.5s ease-in-out ;
     transform-origin: calc(50% + 170px) center; 
}

.room-canvas-container.room-entrace-left-vision{
    animation:room-entrace-vision 0.5s ease-in-out ;
    transform-origin: 2px 30% 10px; 
}

.room-canvas-container.room-entrace-right-vision{
    animation:room-entrace-vision 0.5s ease-in-out ;
    transform-origin: right center; 
}

@keyframes room-exit-vision {
    
    0%{
        transform: scale(2);
    }
    100%{
        transform: scale(1);
    }

}

.room-canvas-container.room-exit-bottom-vision{
     animation:room-exit-vision 0.5s ease-in-out ;
     transform-origin: center bottom; 
}


.room-canvas-container.room-exit-center-vision{
     animation:room-exit-vision 0.5s ease-in-out ;
     transform-origin: calc(50% + 170px) center; 
}

.room-canvas-container.room-exit-left-vision{
    animation:room-exit-vision 0.5s ease-in-out ;
    transform-origin: 2px 30% 10px; 
}

.room-canvas-container.room-exit-right-vision{
    animation:room-exit-vision 0.5s ease-in-out ;
    transform-origin: right center; 
}



  #room-canvas {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    transform-origin: none; 
    
}
